* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease;
    /* font-family: Poppins, sans-serif; */
}

html body {
    background: linear-gradient(to top, black, white);
}

.everyCard {
    border-radius: 5%;
}

.card-header {
    font-weight: bold;
}