* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease;
    /* font-family: Poppins, sans-serif; */
}

html body {
    background: linear-gradient(to top, black, white);
}

.card {
    border-radius: 5%;
    max-width: 100vw;
    min-width: 90px;
}

.card-header {
    font-weight: bold;
    font-size: large;
}

h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
    
}

#thePolice {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size:xx-large;
}

#the {
    vertical-align: super;
    font-size:medium;
}

header {
    background-color: black;
    color: white;
}